/*
============= COMPONENT STYLES ==================================
*/

.wc-button {
  padding: 2rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-white);

  border: 2px solid transparent;
  animation: border-animation 5s infinite;
}

@keyframes border-animation {
  0% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-white) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  12.5% {
    border-image: linear-gradient(
      to right,
      var(--color-green) 0%,
      var(--color-white) 25%,
      var(--color-white) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  25% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-green) 25%,
      var(--color-white) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  37.5% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-green) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  50% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-white) 50%,
      var(--color-green) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  62.5% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-white) 50%,
      var(--color-white) 75%,
      var(--color-green) 100%
    );
    border-image-slice: 1;
  }

  75% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-white) 50%,
      var(--color-green) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  87.5% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-green) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }

  100% {
    border-image: linear-gradient(
      to right,
      var(--color-white) 0%,
      var(--color-green) 25%,
      var(--color-white) 50%,
      var(--color-white) 75%,
      var(--color-white) 100%
    );
    border-image-slice: 1;
  }
}

.wc-button:hover {
  animation: border-animation 1s infinite;
}

.wc-button.sz-small {
}

.wc-button.sz-md {
}
