/*  
============= OUTFIT FONTFACES ==================================
*/

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/100.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/800.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "outfit";
  src: url("/assets/fonts/outfit/900.ttf");
  font-weight: 900;
}

/*  
============= PLUS-JAKARTA-SANS FONTFACES ==================================
*/

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "jakarta";
  src: url("/assets/fonts/plus-jakarta-sans/800.ttf");
  font-weight: 800;
}
